body {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    align-items: center;
}

.container__cabecalho {
    display: flex;
    justify-content: flex-start;
    padding: 32px 0;
    margin-left: 8vw;
    margin-right: 8vw;
}

.barra-pesquisa__cabecalho {
    background-color: #F5F5F5;
    border-radius:20px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 20vw;
}
  
.barra-pesquisa-busca__cabecalho {
    font-family: 'Raleway', sans-serif;
    color:#A2A2A2;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    background-color:transparent;
    border:none;
    width:330px;
    height:25px;
    padding-right: 50px;
}
























main {
    background-color: #E5E5E5;
}

.container__produtos{
    display: flex;
    flex-direction: column;
    width: 84vw;
    margin: 0 8vw;
    margin-bottom: 8vh;
}


.titulo__produto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.titulo-tipo__produto {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.botao__produto {
    font-family: 'Raleway', sans-serif;
    color: #2A7AE4;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}


.produtos {
    display: flex;
    justify-content: space-between;
}

.starwars, .consoles, .diversos {
    padding: 6px;
}

.titulo-produto {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.valor-produto {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.link-produto {
    font-family: 'Raleway', sans-serif;
    color: #2A7AE4;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}































.container__rodape {
    background-color: #EAF2FD;
    
}

.rodape-condeudo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 8vw;
    margin-right: 8vw;
    padding:  64px 0;
    
}


.text__rodape a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #464646;
    line-height: 19px;
}

.formulario__rodape {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.titulo__rodape {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.input-name__rodape {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 4px;
    margin: 8px 0;
}

.titulo-input__rodape {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A2A2A2;
    margin: 8px;
}

.input__rodape {
    border: none;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #464646;
    margin: 8px;
}



.input-texto__rodape {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin: 8px 0;
}

.titulo-textarea__rodape {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #A2A2A2;
}

.input-text-area__rodape {
    border: none;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #464646;
}

.botao-formulario__rodape {
    background-color: #2A7AE4;
    padding: 16px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px; 
    border: none;
    margin: 8px 0;
    align-self: flex-start;
}




.rodape {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    padding: 16px;
}

