body {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    align-items: center;
}

.container__cabecalho {
    display: flex;
    justify-content: flex-start;
    padding: 32px 0;
    margin-left: 8vw;
    margin-right: 8vw;
}

.barra-pesquisa__cabecalho {
    background-color: #F5F5F5;
    border-radius:20px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 20vw;
  }
  
.barra-pesquisa-busca__cabecalho {
    font-family: 'Raleway', sans-serif;
    color:#A2A2A2;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    background-color:transparent;
    border:none;
    width:330px;
    height:25px;
    padding-right: 50px;
  }

.botao__cabecalho {
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    color: #2A7AE4;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 16px;
    width: 182px;
    height: 51px;
    border: 1px solid #2A7AE4;

    justify-self: flex-end;
}




.banner {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url("../imagens/banner-image.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: 352px;
    display: flex;
    
}

.conteudo__banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 8vw;
    margin-bottom: 2vw;

}

.titulo__banner {
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 52px;
    line-height: 20px;
}

.texto__banner {
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
}

.botao__banner {
    background-color: #2A7AE4;
    padding: 16px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px; 
    border: none;
}




.container__produtos{
    display: flex;
    flex-direction: column;
    width: 84vw;
    margin-left: 8vw;
    margin-right: 8vw;
}


.titulo__produto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.titulo-tipo__produto {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.botao__produto {
    font-family: 'Raleway', sans-serif;
    color: #2A7AE4;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}


.produtos {
    display: flex;
    justify-content: space-between;
}

.starwars, .consoles, .diversos {
    padding: 6px;
}

.titulo-produto {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.valor-produto {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.link-produto {
    font-family: 'Raleway', sans-serif;
    color: #2A7AE4;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.rodape-condeudo {
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
    background-color: #EAF2FD;
}


.text__rodape a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #464646;
    line-height: 19px;
}

.formulario__rodape {
    display: flex;
    flex-direction: column;

}

.titulo__rodape {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.input-name__rodape {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A2A2A2;
    margin: 8px;
}
.input__rodape {
    border: none;
}

.input-texto__rodape {
    background: #FFFFFF;
    border: none;
    border-radius: 4px;

    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #A2A2A2;
    margin: 8px;
}



.rodape {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}
